
/*---- Color Definitions ------------------------------------*/
* {
	-fx-tertiary: whitesmoke;
	-fx-tertiary-dark: derive(-fx-tertiary, -20%);
	-fx-tertiary-darker: derive(-fx-tertiary-dark, -30%);
	-fx-secondary: grey;
	-fx-secondary-dark: derive(-fx-secondary, -15%);
	-fx-secondary-darker: derive(-fx-secondary-dark, -30%);
	-fx-primary: #32393d;
	-fx-primary-dark: derive(-fx-primary, -20%);
	-fx-primary-darker: derive(-fx-primary, -50%);
}


/*---- MISC Classes -----------------------------------------*/

.area {
	-fx-background-color: -fx-primary-dark;
}

/*---- Root ------------------------------------*/
.root, #root {
	-fx-background-color: -fx-primary;
	-fx-border-color: -fx-primary-darker;
	-fx-border-width: 2px;
	-fx-background-radius: 5px;
}


/*---- Labels -----------------------------------------*/

.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-tertiary;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-tertiary;
    -fx-opacity: 1.0;
}

.label-header {
    -fx-font-size: 24.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-tertiary;
    -fx-opacity: 1.0;
}


/*---- TableView -----------------------------------------*/

.table-view {
	-fx-selection-bar: -fx-secondary-dark;
	-fx-selection-bar-non-focused: -fx-secondary-dark;
}

.table-view .arrow {
	-fx-mark-color: -fx-secondary;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: -fx-primary-darker;
}

.table-view .column-header .label {
    -fx-font-size: 14.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-tertiary;
    -fx-alignment: center;
    -fx-opacity: 1.0;
}

.table-view .table-row-cell {
	-fx-background-color: -fx-secondary;
	-fx-border-color: -fx-primary-dark;
	-fx-border-width: 1px;
}

.table-view .table-row-cell:filled {
	-fx-background-color: -fx-secondary-darker;
}

/* When the table-row-cell is selected and focused */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-selection-bar;
    -fx-border-color: -fx-primary-darker;
}

/* When the table-row-cell is selected and focused */
.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
}

/* When the table-row-cell is selected and focused */
.table-view .table-row-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
}

.table-view .table-cell {
	-fx-font-size: 12.0pt;
	-fx-text-fill: -fx-tertiary;
}


/*---- SplitPane -----------------------------------------*/

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -fx-primary transparent -fx-primary;
    -fx-background-color: transparent, -fx-primary-dark;
}

.split-pane {
    -fx-padding: 1.0 0.0 0.0 0.0;
}


/*---- DatePicker -----------------------------------------*/

.date-picker, .date-cell, .date-cell .label {
	-fx-text-fill: -fx-tertiary;
	-fx-background-color: -fx-secondary;
}

.date-cell:focused, .date-cell:hover {
	-fx-background-color: -fx-secondary-darker;
}

.date-picker > .arrow-button {
	-fx-background-color: -fx-primary-dark;
}

.date-picker > .arrow-button:hover {
	-fx-background-color: -fx-primary-dark;
}

.date-picker-popup > .month-year-pane {
	-fx-background-color: -fx-primary-dark;
}

/*---- TextField -----------------------------------------*/

.text-field {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-tertiary;
    -fx-background-color: -fx-secondary;
}

.text-field:focused {
	-fx-highlight-text-fill: -fx-tertiary-darker;
	-fx-highlight-fill: -fx-secondary-darker;
}

/*---- Menus -----------------------------------------*/

.menu-bar {
    -fx-background-color: -fx-primary-dark;
}

.menu-bar .label {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-tertiary;
}

.context-menu, .context-menu .menu-item {
    -fx-background-color: -fx-primary-dark;
    -fx-text-fill: -fx-tertiary;
}


/*---- Buttons -----------------------------------------*/

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button,  .menu-button {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-width: 1px;
    -fx-border-radius: 5.0px;
    -fx-background-radius: 9.0px;
    -fx-background-color: -fx-primary-darker;
    -fx-border-color: -fx-primary-darker;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: -fx-tertiary;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.menu-button, .menu-item {
	-fx-padding: 0.0;
	-fx-background-insets: 0.0;
}

.menu-button .label, .menu-item .label {
	-fx-text-fill: -fx-tertiary;
}

.button:hover, .button:focused,
.menu-button:hover, .menu-button:focused {
	-fx-background-color: -fx-primary;
}

.button:pressed, .button:default:hover:pressed,
.menu-button:pressed, .menu-button:default:hover:pressed {
  -fx-background-color: -fx-tertiary-dark;
  -fx-border-color: -fx-tertiary-dark;
  -fx-text-fill: -fx-primary;
}

.button:disabled, .button:default:disabled,
.menu-button:disabled, .menu-button:default:disabled {
    -fx-opacity: 0.4;
    -fx-text-fill: -fx-tertiary;
}

.button:default, .menu-button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -fx-tertiary;
}

.sleek-button {
	-fx-background-color: -fx-primary;
	-fx-padding: 0.0;
    -fx-border-style: none;
    -fx-border-width: 0.0;
    -fx-font-size: 12.0pt;
    -fx-text-fill: gray;
}

.sleek-button:hover, .sleek-button:focused {
	-fx-background-color: -fx-primary;
	-fx-text-fill: -fx-tertiary;
	-fx-border-width: 0.0;
}

.sleek-button:pressed, .sleek-button:default:hover:pressed {
	-fx-background-color: -fx-primary;
	-fx-text-fill: black;
}